fastapi
uvicorn
sqlalchemy
python-dotenv
psycopg2-binary
python-jose
passlib
bcrypt
python-multipart
email-validator

openai-whisper
torch
torchaudio
torchvision

gTTS

argostranslate
langdetect

pdfminer.six
python-docx
pdf2image
pillow